.playerAchievement {
  margin-bottom: 20px;
  border-collapse: collapse;
}

.playerAchievement tr {
  background-color: transparent;
}

.playerAchievement td {
  border-style: none;
  font-weight: normal;
}

.scoreWrapper:nth-child(2) td {
  padding-bottom: 8px;
}

td.playerScore {
  font-weight: bold;
  position: relative;
  padding-right: 14px;
}

.playerScore::after {
  content: "/";
  position: absolute;
  font-weight: bold;
  right: 0;
}

.maxAchievement {
  padding-left: 8px;
  padding-right: 8px;
}

.totalAchievementLoss {
  padding: 0;
}

.totalAchievementLoss::before {
  content: "( ";
}

.totalAchievementLoss::after {
  content: " )";
}
