#achievementLossTable {
  width: 100%;
  margin-top: 20px;
}

@media only screen and (max-width: 780px) {
  .achievementLoss br {
    display: none;
  }
}

td.achievementLoss {
  text-align: right;
  padding-right: 4px;
  color: rgb(153, 128, 255);
}