#chartInfoHeading {
  margin-top: 30px;
  margin-bottom: 14px;
  padding-left: 4px;
}

.infoTable {
  margin-top: 10px;
  width: 100%;
}

.noteCount td {
  min-width: 51px;
  font-weight: normal;
  box-sizing: border-box;
}

.notePercentage td {
  font-size: 13px;
  font-weight: normal;
  padding: 1px 6px;
}
