#resultTable {
  width: 100%;
}

#resultTable td {
  min-width: 60px;
}

#resultTable th:first-child, #resultTable td {
  padding-right: 4px;
}

tr.tap, tr.slide, tr.break {
  background-color: #e1f1f9;
}

.criticalPerfect {
  color: #ffbc09;
  padding: 1px;
}

.perfect {
  color: #ff9d00;
}

.great {
  color: #f75ea3;
}

.good {
  color: #2fca4c;
}

.miss {
  color: #8c8c8c;
}

tr.break td.break span:not(:last-child):not(:empty):after {
  content: "-";
}
