body {
  background-color: #51bcf3;
  font-family: sans-serif;
  padding: 8px;
}

hr {
  margin-top: 30px;
  border-top-style: none;
  border-bottom: solid 2px #d8d8d8;
}

tr {
  background-color: white;
}

th, td {
  border: 1px solid #c0e5f7;
}

th {
  font-family: sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  color: navy;
  font-size: 0.9em;
}

td {
  font-weight: bold;
}

h4 {
  margin-bottom: 6px;
}

.textAlignRight {
  text-align: right;
}

.textAlignCenter {
  text-align: center;
}

.hidden {
  display: none;
}

.input {
  width: 100%;
  height: 10rem;
}

#convert {
	padding: 6px 14px;
	font-size: 20px;
	margin-top: 6px;
}

#inputContainer, .output, .howto, .footer {
  margin: 0 auto 20px;
  width: 480px;
}

.songTitleHeading {
  margin-bottom: 6px;
  margin-top: 0;
}

#resultTable, .infoTable, #scoreDiffTable, #achievementLossTable {
  border: 2px solid #3e9cf5;
  border-radius: 4px;
  border-collapse: separate;
  border-spacing: 0;
  box-sizing: border-box;
}
