body {
  background-color: #51bcf3;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

hr {
  margin-top: 30px;
  border-top-style: none;
  border-bottom: solid 2px rgb(255, 255, 255, 0.8);
}

tr {
  background-color: white;
}

th, td {
  border: 1px solid #c0e5f7;
}

th {
  font-family: sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  color: navy;
  font-size: 0.9em;
}

td {
  font-weight: bold;
}

h4 {
  margin-bottom: 6px;
}

/* input styles */
#inputContainer, .output, .howto, .footer {
  margin: 10px auto 20px;
  padding-left: 4px;
  max-width: 480px;
}

#convert {
	padding: 6px 14px;
	font-size: 20px;
	margin-top: 6px;
}

/* output styles */
.infoTable {
  border: 2px solid #3e9cf5;
  border-radius: 4px;
  border-collapse: separate;
  border-spacing: 0;
  box-sizing: border-box;
  margin-left: -4px;
}

.infoTable th,
.infoTable td {
  padding: 4px 12px;
}

.infoHeadRow {
  background-color: #98dcff;
}

.totalRow {
  background-color: #ffefbf;
}

.resetLink {
  display: block;
  padding-top: 6px;
  font-size: 18px;
}

/* footer styles */
#howtoHeading {
  margin-bottom: 0;
}

#description {
  margin-bottom: 20px;
}

.credit {
  padding-bottom: 20px;
  color: #222;
}

.credit a {
  color: rgb(0, 56, 216);
  text-decoration: none;
}

.credit a:visited {
  color: rgb(0, 56, 216);
}

/* Utility classes */
.hidden {
  display: none;
}

.textAlignRight {
  text-align: right;
}

.textAlignCenter {
  text-align: center;
}

.input {
  width: 100%;
  height: 10rem;
}
