body {
  background-color: #51bcf3;
  font-family: sans-serif;
  padding: 10px;
}

hr {
  margin-top: 30px;
  border-top-style: none;
  border-bottom: solid 2px #d8d8d8;
}

.input {
  min-width: 95%;
  max-width: 500px;
  height: 10rem;
}

#convert {
	padding: 6px 14px;
	font-size: 20px;
	margin-top: 6px;
}

#inputContainer {
  margin-bottom: 20px;
}

.output {
  margin-bottom: 20px;
}

.songTitleHeading {
  margin-bottom: 6px;
  margin-top: 0;
}

.playerAchievement {
  margin-bottom: 20px;
}

#resultTable, table.infoTable, #scoreDiffTable, #achievementLossTable {
  border: 2px solid #3e9cf5;
  border-radius: 4px;
  border-collapse: separate;
  border-spacing: 0;
  box-sizing: border-box;
}

table.infoTable {
  margin-top: 10px;
}

th, td {
  border: 1px solid #c0e5f7;
}

th {
  font-family: sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  color: navy;
  font-size: 0.9em;
}

tr {
  background-color: white;
}

tr.tap, tr.slide, tr.break {
  background-color: #e1f1f9;
}

th.achievementLoss {
  width: 100px;
}

td.achievementLoss {
  text-align: right;
  padding-right: 4px;
  color: rgb(153, 128, 255);
}

#resultTable td {
  width: 70px;
}

table.infoTable td {
  width: 60px;
}

tr.break td.break span {
  display: block;
}

#resultTable th, #resultTable td {
  padding-right: 4px;
}

tbody td {
  font-weight: bold;
}

.scoreWrapper {
  margin-bottom: 8px;
}

.playerScore {
  display: inline-block;
  width: 94px;
  font-weight: bold;
}

table.infoTable th.maxFinaleScoreLabel {
  width: 80px;
}

#scoreDiffTable th {
  width: 50px;
}

#scoreDiffTable td {
  text-align: right;
  padding-left: 30px;
  padding-right: 4px;
}

.criticalPerfect {
  color: #ffbc09;
}

.perfect {
  color: #ff9d00;
}

.great {
  color: #f75ea3;
}

.good {
  color: #2fca4c;
}

.miss {
  color: #8c8c8c;
}

#chartInfoHeading {
  margin-top: 30px;
  margin-bottom: 14px;
}

#howtoHeading {
  margin-bottom: 0;
}

#description {
  margin-bottom: 20px;
}

.footer {
  height: 3rem;
  padding-top: 20px;
}

.credit {
  margin-bottom: 20px;
  color: #222;
}

.credit a {
  color: rgb(0, 56, 216);
  text-decoration: none;
}

.credit a:visited {
  color: rgb(0, 56, 216);
}

h4 {
  margin-bottom: 6px;
}

#finaleBorder {
  margin-top: 0;
}

.deepBlueTopBorder th, .deepBlueTopBorder td {
  border-top-color: #4e7ae3;
}
.deepBlueBottomBorder th, .deepBlueBottomBorder td {
  border-bottom-color: #4e7ae3;
}

.scoreGrid {
   display: grid;
   grid-template-rows: max-content max-content max-content;
   grid-template-columns: max-content max-content;
   row-gap: 20px;
   column-gap: 20px;
}

#resultTableContainer {  
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}
#achievementLossContainer {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}
.scoreDiffContainer {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

@media only screen and (min-width: 550px) {
  #achievementLossContainer {
    grid-column-end: 2;
  }
  .scoreDiffContainer {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
  }
  #scoreDiffTable {
    width: 100%;
  }
  #finaleBorder {
    text-align: center;
    max-width: 200px;
  }
}

@media only screen and (min-width: 800px) {
  #resultTableContainer {  
    grid-area: 1 / 1 / 2 / 2;
  }
  #achievementLossContainer {
    grid-area: 1 / 2 / 3 / 3;
  }
  #achievementLossContainer tr.break {
    height: 46px;
  }
  .scoreDiffContainer {
    display: block;
    grid-area: 2 / 1 / 4 / 2;
  }
  #scoreDiffTable {
    width: unset;
  }
  #finaleBorder {
    text-align: left;
    max-width: unset;
  }
}

.textAlignRight {
  text-align: right;
}

.textAlignCenter {
  text-align: center;
}

.hidden {
  display: none;
}
s
