body {
  background-color: #51bcf3;
  font-family: sans-serif;
}

hr {
  margin-top: 20px;
  border-top-style: none;
  border-bottom: solid 2px #d8d8d8;
}

.input {
  min-width: 95%;
  max-width: 500px;
  height: 10rem;
}

#convert {
	padding: 6px 14px;
	font-size: 20px;
	margin-top: 6px;
}

.output {
  margin-top: 20px;
  margin-bottom: 20px;
}

.songTitleHeading {
  margin-bottom: 6px;
}

.scoreWrapper {
  font-weight: bold;
}

table.resultTable, table.infoTable {
  border: 2px solid #3e9cf5;
  border-radius: 4px;
  border-collapse: separate;
  border-spacing: 0;
  box-sizing: border-box;
  margin-top: 10px;
}

th, td {
  border: 1px solid #c0e5f7;
}

th {
  font-family: sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  color: navy;
  font-size: 0.9em;
}

tr {
  background-color: white;
}

tr.tap, tr.slide, tr.break {
  background-color: #e1f1f9;
}

table.resultTable td {
  width: 75px;
}

table.infoTable td {
  width: 60px;
}

tr.break td.break span {
  display: block;
}

table.resultTable th, table.resultTable td {
  padding-right: 4px;
}

tbody td {
  font-weight: bold;
}

table.resultTable tbody tr td, table.resultTable tbody tr th {
  text-align: right;
}

table.infoTable tbody tr td, table.infoTable tbody tr th {
  text-align: center;
}

.criticalPerfect {
  color: #ffbc09;
}

.perfect {
  color: #ff9d00;
}

.great {
  color: #f75ea3;
}

.good {
  color: #2fca4c;
}

.miss {
  color: #8c8c8c;
}

#howtoHeading {
  margin-bottom: 0;
}

#description {
  margin-bottom: 20px;
}

.footer {
  height: 3rem;
  padding-top: 20px;
}

.credit {
  margin-bottom: 20px;
  color: #222;
}

.credit a {
  color: rgb(0, 56, 216);
  text-decoration: none;
}

.credit a:visited {
  color: rgb(0, 56, 216);
}
