.cSecTitleContainer {
  margin: 0 0 16px;
  padding: 0;
}

.cSecTitle {
  cursor: pointer;
  padding: 0 4px;
  display: inline-block;
}

.cSecTitle:focus {
  color: inherit;
}

.cSecTitle:active {
  background-color: transparent;
}

.cSecTitleSymbol {
  display: inline-block;
  position: relative;
  transform: rotate(0.25turn);
  line-height: 32px;
  width: 32px;
  text-align: center;
  transition: bottom 0.3s;
  bottom: 2px;
}

.cSecTitleSymbol.cSecHidden {
  transform: rotate(0);
  bottom: 1px;
  animation-name: rotationCollapse;
  animation-duration: 0.3s;
}

.cSecTitleSymbol.cSecShow {
  animation-name: rotationExpand;
  animation-duration: 0.3s;
}
