@keyframes rotationExpand {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(0.25turn);
  }
}
@keyframes rotationCollapse {
  from {
    transform: rotate(0.25turn);
  }
  to {
    transform: rotate(0);
  }
}

.songRecordsContainer {
  margin-top: 0;
}

.cSecTitleContainer {
  margin: 4px 0 16px;
  padding: 0;
}

.cSecTitle {
  cursor: pointer;
  padding: 0 4px;
  display: inline-block;
}

.cSecTitle:focus {
  color: inherit;
}

.cSecTitle:active {
  background-color: transparent;
}

.cSecTitleSymbol {
  display: inline-block;
  position: relative;
  transform: rotate(0.25turn);
  line-height: 32px;
  width: 32px;
  text-align: center;
  transition: bottom 0.3s;
  bottom: 2px;
}

.cSecTitleSymbol.cSecHidden {
  transform: rotate(0);
  bottom: 1px;
  animation-name: rotationCollapse;
  animation-duration: 0.3s;
}

.cSecTitleSymbol.cSecShow {
  animation-name: rotationExpand;
  animation-duration: 0.3s;
}

.songRecordTableContainer {
  margin-bottom: 35px;
}

.songRecordTableContainer.hidden {
  margin-bottom: 0;
}

.scoreRecordRow:nth-child(2n) {
  background-color: rgba(90, 90, 90, 0.1);
}

.scoreRecordCell {
  padding: 4px;
  font-weight: bold;
  font-size: 1rem;
}

.scoreRecordCompactRow .scoreRecordCell {
  padding: 0 3px;
  font-size: 0.7rem;
}

.scoreRecordCell[tabIndex] {
  cursor: pointer;
}

.songTitleCell {
  overflow: hidden;
  padding-right: 10px;
  word-break: break-word;
}

@media only screen and (min-width: 770px) {
  .songTitleCell {
    width: 300px;
  }
  .chartTypeCell {
    width: 70px;
  }
  .levelCell {
    width: 70px;
  }
  .achievementCell {
    width: 110px;
  }
  .rankCell {
    width: 85px;
  }
  .ratingCell {
    width: 70px;
  }
}

td.orderCell,
td.achievementCell {
  text-align: right;
}

td.chartTypeCell,
td.levelCell,
td.ratingCell,
.rankCell,
.candidateTable .ratingCell {
  text-align: center;
}

.songWikiLink {
  color: inherit;
  text-decoration: none;
}

.showMore {
  display: inline-block;
  margin-top: 10px;
}
