html {
  background-color: #eee;
}

body {
  font-family: 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'Noto Sans CJK TC', '微軟正黑體',
    'Microsoft Jhenghei', 'MS P Gothic', 'ＭＳ Ｐゴシック', sans-serif;
}

h2,
h3 {
  /* Work around an Android Chrome bug where span in heading has smaller font size */
  max-height: 999px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
  margin-bottom: 16px;
}

table {
  border: 2px solid #999;
}

tbody th {
  background-color: #dddddd;
}

thead {
  background: #999;
  color: #eee;
}

th,
td {
  box-sizing: border-box;
}

select,
label {
  font-size: 18px;
}

#outputHeading {
  margin-top: 8px;
  margin-bottom: 12px;
}

.basic {
  color: #49b63e;
}

.advanced {
  color: #fb9c2d;
}

.expert {
  color: #f64861;
}

.master {
  color: #9e45e2;
}

.remaster {
  color: white;
  text-shadow: -1px -1px 2px #9e45e2, -1px 1px 2px #9e45e2, 1px -1px 2px #9e45e2,
    1px 1px 2px #9e45e2;
}

.sectionSep {
  margin-top: 30px;
}

.marginBottom30 {
  margin-bottom: 30px;
}

.collapsibleContainer {
  max-height: 15000px;
}

.collapsibleContainer.hidden {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.3s;
}

.hidden {
  display: none;
}

.inlineBlock {
  display: inline-block;
  vertical-align: top;
}

@media only screen and (min-width: 551px) {
  body {
    margin: 20px;
  }
}
