body {
  margin: 0;
  padding: 0;
  background-color: #606fb3;
  font-family: "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック","MS P Gothic", sans-serif;
}

[tabindex] {
  cursor: pointer;
  outline: none;
}

[tabIndex]:focus {
  background: rgba(0, 0, 0, 0.1);
}

.error {
  color: #ffe9e9;
  text-align: center;
}

.remaster {
  color: #bd6bd5;
}

.master {
  color: #916dd2;
}

.expert {
  color: #bc2141;
}

.advanced {
  color: #fbb822;
}

.basic {
  color: #49b63e;
}

.perfect {
  color: #de8235;
}

.great {
  color: #e730a4;
}

.good {
  color: #229337;
}

.miss {
  color: #6a648a;
}

.score, .rowHead {
  color: #254a76;
}

.nextRank {
  color: #ba32b8;
}

.maxCombo {
  color: #ed245b;
}

.maxScore {
  color: #f6a82c;
}

.widthLimit {
  width: 460px;
  margin: 20px auto;
  padding: 6px;
  border-radius: 18px;
  background-color: #e5b323;
/*  background-image: url(../maimai-img/bg_star.png); */
  background-size: 540px;
  background-repeat: repeat;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.4), 0px 2px 5px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}

.container {
  background-color: #223641;
  padding: 6px;
  padding-bottom: 10px;
  border-radius: 14px;
}

.pageTitle {
  font-size: 18px;
  text-align: center;
  margin: 5px 0 0;
  padding: 0;
  padding-bottom: 4px;
  color: white;
  font-weight: normal;
}

.pageSectionSeparator {
  height: 7px;
  width: 100%;
  background-color: #fad80b;
  margin: 5px 0;
}

.songScoreContainer {
  width: 100%;
  margin: 11px 0 10px;
  background-color: white;
  box-sizing: border-box;
}

.dateAndPlace {
  background-color: #0095d7;
  color: white;
  border: 1px solid #dddce0;
  border-bottom-style: none;
  padding: 10px;
  line-height: 24px;
  font-family: serif;
  letter-spacing: 0.3px;
}

.date, .place {
  padding: 2px 4px;
}

.date {
  padding-bottom: 1px;
}

.place {
  padding-top: 1px;
}

.songScoreBody {
  border: 6px solid #dddce0;
  padding: 4px 6px;
}

.trackTopLine {
  color: #999999;
  box-shadow: 1px 1px 1px #ececec;
  margin-bottom: 10px;
}

.track {
  color: #fd3569;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.songTitle {
  margin: -5px 0 0;
  font-size: 25px;
}

.songWikiLink {
  color: inherit;
  text-decoration: none;
}

.songImgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2px;
}

.songImg {
  width: 290px;
  height: 290px;
}

.songImgPlaceholder {
  --c1: #eee;
  --c2: #bbb;
  --c3: #ccc;
  --t: 48px;
  --angle: 70deg;
  --grad: var(--c1) var(--t), var(--c1) calc(var(--t) * 2), var(--c2) calc(var(--t) * 2), var(--c2) calc(var(--t) * 3), var(--c3) calc(var(--t) * 3), var(--c3) calc(var(--t) * 4);
  background: repeating-linear-gradient(var(--angle), var(--grad)), var(--c1);
  position: relative;
}

.songImgPlaceholder::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: repeating-linear-gradient(calc(var(--angle) * -1), var(--grad)), var(--c1);
}

.songImgReflecContainer {
  position: relative;
  width: 290px;
  margin-top: 3px;
  height: 45px;
  mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4) 40px);
  -webkit-mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4) 40px);
  transform: rotateX(180deg);
}

.songImgReflec {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 300px;
}

.songImgReflecPlaceholder {
  height: 100%;
  width: 100%;
}

.achievementInfo {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 0 10px;
  margin-top: 4px;
}

.achvInfoSpace {
  flex: 100 0 5px;
}

.rank {
  /* sc = shadow color */
  --c: #ff6509;
}

.apfc {
  --c: #0a99fd;
}

.apfc.fcplus {
  --c: #f58223;
}

.apfc.ap {
  --c: #ff2525;
}

.sync {
  --c: #1061d0;
}

.rank, .apfc, .sync {
  --sc: rgba(190, 190, 190, 0.685);
  flex: 1 0 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 3px;
  color: var(--c);
  text-shadow: 1px 1px 4px var(--sc);
  /* text-shadow: 0 -1px 2px var(--sc), -1px 0 2px var(--sc), 1px 0 2px var(--sc), 0 1px 2px var(--sc); */
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.finaleSync {
  font-weight: bold;
  font-family: unset;
  font-size: 14px;
  line-height: 16px;
}

.apfc:empty, .sync:empty {
  display: none;
}

.rankImg, .apFcImg, .syncImg {
  max-width: 45px;
}

.playerScore {
  flex: 1 1 140px;
  text-align: center;
  padding: 0 2px 0 7px;
  min-height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.highScore {
  color: #ea3a69;
  font-size: 17px;
  font-weight: bold;
  padding: 0 8px;
  flex: 2;
  text-align: center;
  position: relative;
  top: 3px;
}

.achievement {
  font-size: 18px;
  flex: 1 1 22px;;
  display: flex;
  padding: 0 8px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding-top: 2px;
  padding-bottom: 2px;
  position: relative;
  top: 2px;
}

.achvNum {
  display: flex;
  flex-direction: column;
}

.maxAchv {
  border-top: 1px solid black;
  padding: 0 3px;
}

.hasMaxAchv {
  font-size: 16px;
  flex-basis: 20px;
}

.judgementContainer {
  margin: 4px 2px 8px;
}

.judgement {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 0.9rem;
}

.judgement td, .judgement th {
  border: 2px solid #e5b323;
  vertical-align: middle;
  padding: 1px 2px;
  font-weight: 700;
}

.rowHead {
  width: 54px;
}

.score {
  width: 94px;
}

@media only screen and (max-width: 700px) {
  .judgement {
    font-size: 1rem;
  }

  .judgement td, .judgement th {
    padding: 2px 2px;
  }

  .rowHead {
    width: 50px;
  }

  .score {
    width: 90px;
  }
}

th {
  text-align: center;
}

td.perfect, td.great, td.good, td.miss, td.score {
  text-align: right;
}

.breakDistribution {
  display: flex;
}

.breakDistribution span {
  flex: 3 1 20px;
  text-align: center;
  padding-left: 3px;
  position: relative;
}

.breakDistribution .perfect, .breakDistribution .great {
  flex-grow: 1;
}

.breakNoteRow .miss {
  position: relative;
  text-align: right;
}

.breakDistribution .perfect:after,
.breakDistribution .great:after,
.missWithBefore:before {
  content: "-";
  position: absolute;
  right: -5px;
  color: #888;
  opacity: 0.3;
}

.missWithBefore:before {
  position: static;
  padding-right: 26px;
}

.breakDistribution .good {
  text-align: right;
  padding-right: 1px;
}

.judgement .noLeftBorder {
  border-left-style: none;
}

.judgement .noRightBorder {
  border-right-style: none;
}

.nextRank td, .maxCombo td {
  text-align: right;
}

.nextRankTitle {
  padding-right: 18px;
  opacity: 0.5;
}

.tableSeparator td {
  border-style: none;
  height: 22px;
}

.pageFooter {
  padding-top: 4px;
  color: #00a4ac;
  text-align: center;
}

.credit {
  color: #eee;
  text-align: center;
  padding-bottom: 40px;
  margin: 16px 0;
}

.closePage, .authorLink {
  color: inherit;
  text-decoration: none;
}

.closePage:hover, .authorLink:hover {
  text-decoration: underline;
}

.closePage:visited {
  color: inherit;
}

.authorLink, .authorLink:visited {
  color: #fff;
}

.hidden {
  display: none;
}
