#recordSummary {
  margin-bottom: 16px;
}

.playRecordContainer {
  background-color: #7ed3ff;
  padding: 2px;
}

.playRecordTable {
  font-size: 14px;
  border-collapse: collapse;
  table-layout: fixed;
}

tbody tr.recordRow {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.recordCell {
  padding: 3px 1px 1px;
  user-select: all;
}

td.recordCell {
  font-size: 12px;
}

.recordCell.dateCell {
  width: 78px;
}

.recordCell.difficultyCell {
  width: 74px;
  word-break: break-all;
}

.recordCell.achievementCell {
  width: 75px;
}

.recordCell.stampsCell {
  width: 70px;
}

td.songTitleCell {
  padding-left: 44px;
  text-align: left;
  word-break: break-all;
}

.copyBtnContainer {
  position: relative;
  padding: 4px;
}

.copyBtn, .downloadImgBtn {
  background-color: #9f51dc;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  padding: 8px 12px;
  margin: 0 10px 10px;
}

.songImg {
  background-position: 2px center;
  background-size: 37px;
  background-repeat: no-repeat;
}

.dateOptionLabel {
  display: block;
}

.newRecordLabel, .sortByLabel {
  display: inline-block;
  margin-right: 10px;
}

.newRecordRadio, .sortByRadio {
  margin-right: 4px;
  vertical-align: middle;
}

.dateCheckbox[type="checkbox"] {
  position: static;
  opacity: 1;
  margin-right: 6px;
  width: 10px;
  height: 10px;
}

.advanced .difficultyCell {
  color: #fb9c2d;
}

.expert .difficultyCell {
  color: #f64861;
}

.master .difficultyCell {
  color: #9e45e2;
}

.remaster .difficultyCell {
  color: white;
  text-shadow: -1px -1px 2px #9e45e2, -1px 1px 2px #9e45e2, 1px -1px 2px #9e45e2, 1px 1px 2px #9e45e2;
}

.snackbarContainer {
  position: fixed;
  bottom: 6px;
  width: 100%;
}

.snackbar {
  transition: opacity 0.3s ease-in-out;
  text-align: center;
  background-color: #666;
  padding: 8px 4px;
  border-radius: 4px;
  color: white;
  opacity: 0;
  user-select: none;
}
