.otherToolsHeading {
  margin-bottom: 10px;
}

.toolItem {
  font-size: 16px;
  padding-bottom: 10px;
}

footer {
  margin-bottom: 40px;
}

.authorLink {
  color: inherit;
}

.authorLink:visited {
  color: inherit;
}
