textarea {
  width: 90%;
  min-height: 140px;
  display: block;
  padding: 4px;
  box-sizing: border-box;
}

textarea:focus {
  outline-color: #c179ca;
  outline-offset: -1px;
  outline-style: solid;
  outline-width: 2px;
}

.lvInputHeading, .playerScoreInputHeading {
  margin-bottom: 10px;
}

.lvInput {
  margin-top: 14px;
}

.lvFormLabel:first-child {
  margin-right: 20px;
}

.lvFormRadio {
  margin-right: 8px;
}

.actionArea {
  padding-top: 22px;
}

#calculateRatingBtn {
  font-size: 28px;
  padding: 8px 20px;
  background-color: #ffc542;
}

#playerScoreInput {
  margin-top: 20px;
}
