textarea {
  width: 90%;
  min-height: 200px;
  display: block;
}

textarea:focus {
  outline-color: #c179ca;
}

.innerLvInputHeading, .playerScoreInputHeading {
  margin-bottom: 10px;
}

.innerLvInputDescription {
  width: 90%;
}

.actionArea {
  padding-top: 22px;
}

#calculateRatingBtn {
  font-size: 28px;
  padding: 8px 20px;
  background-color: #ffc542;
}

#innerLvInput, #playerScoreInput {
  margin-top: 20px;
}
