.quickLookupTable {
  border-collapse: collapse;
  border: 2px solid #999;
}

.qlRankFactorCell {
  min-width: 76px;
  padding: 4px;
  border: 1px solid #aaa;
  text-align: center;
}

th.qlRankFactorCell {
  padding-left: 8px;
  padding-right: 8px;
}

td.qlThresholdCell::after {
  content: "%"
}
