#lrDistTable, #drDistTable {
  border-collapse: collapse;
  border: 2px solid #999;
}

#drDistTable {
  margin-left: 40px;
}

.levelRankCell, .diffRankCell {
  padding: 4px;
  width: 60px;
}

td.levelRankCell, td.diffRankCell {
  text-align: center;
}


.officialLevelCell {
  width: 40px;
  padding-right: 8px;
  text-align: right;
}

.difficultyRankDistHead {
  width: 110px;
}

td.totalCell {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  width: 80px;
}
