.rankDistributionTable {
  margin-bottom: 22px;
}

.rankDistributionTable:first-child {
  margin-right: 40px;
}

.levelRankCell {
  padding: 4px;
  width: 60px;
  box-sizing: border-box;
}

.diffRankCell {
  padding: 4px 10px;
}

td.levelRankCell, td.diffRankCell {
  text-align: center;
}

.officialLevelCell {
  width: unset;
  padding-right: 12px;
  padding-left: 12px;
}

.totalCell {
  width: 80px;
}

td.totalCell {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
}
