#lrDistTable, #drDistTable {
  border-collapse: collapse;
  border: 2px solid #999;
}

#drDistTable {
  margin-left: 40px;
}

.levelRankCell, .diffRankCell {
  padding: 4px;
  width: 60px;
  box-sizing: border-box;
}

td.levelRankCell, td.diffRankCell {
  text-align: center;
}

.officialLevelCell {
  width: unset;
  padding-right: 12px;
  padding-left: 12px;
}

.difficultyRankDistHead {
  width: 110px;
}

.totalCell {
  width: 80px;
}

td.totalCell {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
}
