.ratingOverview {
  padding-top: 8px;
  padding-bottom: 8px;
}

.totalRatingRow {
  font-size: 20px;
  background-color: #111;
  display: inline-block;
  color: #eee;
  padding: 5px 20px;
  margin-bottom: 6px;
  cursor: pointer;
}

.ratingOverviewTable {
  border-style: none;
}

.columnColumn {
  padding-right: 4px;
}

.subRatingColumn {
  text-align: right;
}

.avgRatingColumn {
  padding-left: 16px;
}
