@keyframes rotationExpand {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(0.25turn);
  }
}
@keyframes rotationCollapse {
  from {
    transform: rotate(0.25turn);
  }
  to {
    transform: rotate(0);
  }
}

.songRecordsContainer {
  margin-top: 0;
}

.crSecTitleContainer {
  margin: 4px 0 16px;
  padding: 0;
}

.crSecTitle {
  cursor: pointer;
  padding: 0 4px;
  display: inline-block;
}

.crSecTitle:focus {
  color: inherit;
}

.crSecTitle:active {
  background-color: transparent;
}

.crSecTitleSymbol {
  display: inline-block;
  position: relative;
  transform: rotate(0.25turn);
  line-height: 32px;
  width: 32px;
  text-align: center;
  transition: bottom 0.3s;
  bottom: 2px;
}

.crSecTitleSymbol.crSecHidden {
  transform: rotate(0);
  bottom: 1px;
  animation-name: rotationCollapse;
  animation-duration: 0.3s;
}

.crSecTitleSymbol.crSecShow {
  animation-name: rotationExpand;
  animation-duration: 0.3s;
}

.songRecordTableContainer {
  margin-bottom: 35px;
}

.songRecordTableContainer.hidden {
  margin-bottom: 0;
}

.scoreRecordRow:nth-child(2n) {
  background-color: rgba(90, 90, 90, 0.1);
}

.scoreRecordCell {
  padding: 4px;
  font-weight: bold;
  box-sizing: border-box;
  font-size: 1rem;
}

.scoreRecordCell[tabIndex] {
  cursor: pointer;
}

.songTitleCell {
  overflow: hidden;
  padding-right: 10px;
  word-break: break-word;
}

@media only screen and (min-width: 770px) {
  .songTitleCell {
    width: 300px;
  }
  .difficultyCell {
    width: 110px;
  }
  .levelCell {
    width: 70px;
  }
  .achievementCell {
    width: 110px;
  }
  .rankFactorCell {
    width: 100px;
  }
  .ratingCell {
    width: 70px;
  }
}

td.orderCell,
td.achievementCell,
.topRecordTable td.rankFactorCell {
  text-align: right;
}

td.difficultyCell,
td.levelCell,
td.ratingCell,
.candidateTable .rankFactorCell,
.candidateTable .ratingCell {
  text-align: center;
}

.showMore {
  display: inline-block;
  margin-top: 10px;
}
