.songRecordsContainer {
  margin-top: 35px;
}

.songRecordTable {
  border-collapse: collapse;
  border: 2px solid #999;
}

.scoreRecordRow:hover {
  /* TODO: highlight row and column in lookup table */
  /* background-color: #fffce3; */
}

.scoreRecordCell {
  border: 1px dotted #111;
  padding: 4px;
  font-weight: bold;
  box-sizing: border-box;
}

.songTitleCell {
  width: 300px;
  overflow: hidden;
  padding-right: 10px;
}

.difficultyCell {
  width: 110px;
}

.innerLvCell,
.ratingCell {
  width: 70px;
}

.achievementCell {
  width: 110px;
}

.rankFactorCell {
  width: 100px;
}


td.orderCell,
td.innerLvCell,
td.achievementCell,
td.rankFactorCell,
td.ratingCell {
  text-align: right;
}

td.difficultyCell {
  text-align: center;
}

td.innerLvCell,
td.rankFactorCell,
td.ratingCell {
  padding-right: 8px;
}
