@keyframes rotationExpand {
  from {
    top: 0;
    transform: rotate(0);
  }
  to {
    top: 1px;
    transform: rotate(0.25turn);
  }
}
@keyframes rotationCollapse {
  from {
    top: 1px;
    transform: rotate(0.25turn);
  }
  to {
    top: 0;
    transform: rotate(0);
  }
}

.songRecordsContainer {
  margin-top: 0;
}

.crSecTitle {
  color: inherit;
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  font-family: inherit;
  display: inline-block;
  margin: 4px 0 16px;
  padding: 0 4px;
  font-weight: bold;
}

.crSecTitle:focus {
  color: inherit;
}

.crSecTitle:active {
  background-color: transparent;
}

.crSecTitleSymbol {
  display: inline-block;
  position: relative;
  top: 1px;
  transform: rotate(0.25turn);
}

.crSecTitleSymbol.crSecHidden {
  top: 0;
  transform: rotate(0);
  animation-name: rotationCollapse;
  animation-duration: 0.3s;
}

.songRecordTableContainer {
  max-height: 4000px;
}

.songRecordTableContainer.hidden {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.3s;
}

.songRecordTable {
  border-collapse: collapse;
  border: 2px solid #999;
  margin-bottom: 35px;
}

.scoreRecordRow:nth-child(2n) {
  background-color: rgba(90, 90, 90, 0.1);
}

.scoreRecordCell {
  padding: 4px;
  font-weight: bold;
  box-sizing: border-box;
  font-size: 1rem;
}

.songTitleCell {
  overflow: hidden;
  padding-right: 10px;
  word-break: break-word;
}

@media only screen and (min-width: 770px) {
  .songTitleCell {
    width: 300px;
  }
  .difficultyCell {
    width: 110px;
  }
  .innerLvCell {
    width: 70px;
  }
  .achievementCell {
    width: 110px;
  }
  .rankFactorCell {
    width: 100px;
  }
  .ratingCell {
    width: 70px;
  }
}

td.orderCell,
td.achievementCell,
.topRecordTable td.rankFactorCell {
  text-align: right;
}

td.difficultyCell,
td.innerLvCell,
td.ratingCell,
.candidateTable .rankFactorCell,
.candidateTable .ratingCell {
  text-align: center;
}
