html {
  background-color: #eee;
}

body {
  font-family: sans-serif;
}

@media only screen and (min-width: 551px) {
  body {
    margin: 20px;
  }
}

th {
  background-color: #dddddd;
}

select, label {
  font-size: 20px;
}

#outputHeading {
  margin-top: 8px;
  margin-bottom: 12px;
  padding-top: 12px;
}

.totalRatingRow {
  font-size: 20px;
  background-color: #111;
  display: inline-block;
  color: #eee;
  padding: 5px 20px;
  margin-bottom: 6px;
}

.ratingOverview {
  padding-top: 8px;
  padding-bottom: 8px;
}

.columnColumn {
  padding-right: 10px;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.advanced {
  color: #fb9c2d;
}

.expert {
  color: #f64861;
}

.master {
  color: #9e45e2;
}

.remaster {
  color: white;
  text-shadow: -1px -1px 2px #9e45e2, -1px 1px 2px #9e45e2, 1px -1px 2px #9e45e2, 1px 1px 2px #9e45e2;
}

.sectionSep {
  margin-top: 35px;
}
